div.content {
    color: darkgreen;
    font-size:medium;
    font-size: 25pt ;
    position: relative;  left: 20px;
    margin: 0 auto;
    padding: 100px;
    @media screen and (max-width: 600px) {
    }
    
}

body {
    background-image: url("/images/landingpagegrocerygo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}




