.container-fullscreen{
    padding-top:100px;
}
body{
    background-image: url("/PFD-Team-A.github.io/images/signupgrocerygo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}